<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815130089095-p2tcv8sc3r7i8eg7lubair4ui7flphlg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815130089095-p2tcv8sc3r7i8eg7lubair4ui7flphlg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>815130089095-k7ggm9jejcs8oll3fbsh9vj7d91ckae8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDi-VKB6qUCxYahgvLS7GiP2dqGBZ1q_Uk</string>
	<key>GCM_SENDER_ID</key>
	<string>815130089095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-87e16</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-87e16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815130089095:ios:839c9d120a92ca73e9ca22</string>
</dict>
</plist>